.btn{
  border-radius: 10px;
  margin: 1%;
  font-size: 1rem;
}

.navbar{
  background-color: teal;
  color: whitesmoke;
  align-items: center;
  min-height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;
}

.navbar .btn{
  border:none;
  background: none;
  box-shadow: none;
  font-size: 1rem;
  height:100%;
  margin-right: 20%;
  margin-top: 25%;
}

.navbar .alerts{
  width:100%;
  min-height:40%;
  background-color: gold;
  color:black;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  font-size:1.5rem;
  padding:0.2%;
}

.nav-extension{
  background-color: teal;
  color: whitesmoke;
  font-family: 'Cinzel' serif;
  display: grid;
  justify-items: right;
  opacity:0.8;
}

.sidenavbar-own{
  height:100%;
}


.navbar a{
  display: grid;
  font-family: 'Cinzel' serif;
  align-items: center;
  color: whitesmoke; 
  text-decoration: none;
  padding: 1rem;
  font-size: 1.7rem;
}

.navbar button{
  display: grid;
  color: whitesmoke; 
  background: none;
  border: none;
  box-shadow: none;
}

.navbar a:hover{
  color:goldenrod; 
}


.navbar .title{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

.nav-goldline{
  background-color: goldenrod;
  height:10px;
}


.landing-box{
  display: grid;
  align-self: center;
  justify-self: center;
  background-color: whitesmoke;
  padding: 1rem 3rem 1rem 3rem;
  opacity: 0.9;
}

.landing-box .title{
  font-size: 3.5rem;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

.landing-box p{
  font-size: 30px;
  font-family: 'Cochin';
}

.landing-box a{
  color: goldenrod;
  font-size: 1.5rem;
}

.landing-box a:hover{
  color: red;
  font-size: 1.8rem;
}

.form-group{
  padding: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
}


.plain-page .form .form-group select{
  width:75%;
  height:fit-content;
  border-radius: 25px;
}

.plain-page .form .form-group textarea{
  width:75%;
  height:fit-content;
  border-radius: 5px;
}

.plain-page .form .form-group button{
  width:75%;
  height:fit-content;
  border-radius: 5px;
}

.plain-page .form .form-group small{
  font-size:90%;
  padding: 1rem;
  float: left;
}

.plain-page .heading{
  font-size: 30px;
  justify-self: center;
  color: goldenrod;
  font-weight: bold;
}


/* Auth Components */
.auth{
  display: grid;
  justify-items: right;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
}

.auth-box{
  display: grid;
  background-color: whitesmoke;
  width: 30%;
  padding:1rem;
  padding-left:1.5rem;
  padding-right: 3rem;
}

.auth .heading{
  font-size: 2.75rem;
}

.auth .lead{
  font-size: 1.5rem;
}

.auth .form .form-group input{
  width: 110%;
  border-radius: 25px;
}

.auth .form .form-group select{
  width:100%;
  height: 3rem;
  border-radius: 25px;
}

/* Profile  */
.all-profiles{
  display: grid;
  grid-template-rows: 5rem auto
}
.profiles{
  display:grid;
}

.search-profiles form{
  display: grid;
  grid-template-columns: 10fr 1fr;
  margin-top: 2%;
}

.profile{
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: teal;
  color: whitesmoke;
  border-radius: 10px;
  padding:1%;
  margin:0.5%;
  width:90%;
  justify-self: center;
  max-height:20rem;
}

.profile img{
  height: auto;
  width: 100%;
  border-radius: 50%;
  border: solid whitesmoke;
}
.profile .profile-details{
  display: grid;
  grid-template-rows: fit-content, fit-content, fit-content, auto;
}

.profile .profile-details .line{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 5%;
}

.profile .profile-details .profile-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile .profile-details .profile-buttons .btn{
  display: grid;
  height: 30px;
  width: 30%;
  font-size:12px;
  margin: 0.5%;
}

.profile .profile-details h1{
  font-size: 2rem;
  font-weight: bold ;
  padding-left:5%;
  font-family: 'Merriweather', sans-serif
}

.profile .profile-details p{
  font-size: 1.2rem;
  padding-left: 5%;
}

.profile .profile-details a{
  font-size: 1rem;
  padding-left: 5%;
  color: whitesmoke;
}


.profile-top{
  background-color: teal;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: fit-content fit-content fit-content fit-content
}

.profile-top .heading{
  display: grid;
  color:whitesmoke;
}

.profile-top p{
  display: grid;
  color: ivory;
  font-size: 1.3rem;
}

.profile-contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.profile-contact .btn{
  color: whitesmoke;
  height: 3.5rem;
  border: none;
  box-shadow: none;
  background: none;
}

.profile-contact .btn:hover{
  color: goldenrod;
}

.profile-contact i{
  font-size: 2.3rem;
}

.contact-details a{
  color: whitesmoke;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: goldenrod;
  padding:1%;
  display:grid;
  justify-self: center;
}

.contact-details a:hover{
  color: lightcyan;
  font-size: 1.8rem;
}

.profile-buttons{
  display: inline;
}

.education{
  display: grid;
  justify-items:center;
  width:100%;
}

.education table{
  display:grid;
  font-size: 1.3rem;
  padding:1%;
  background-color: white;
  width:100%;
}

.education .btn{
  width: 100%;
}


.profile-about{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2%;
  justify-items: center;
}

.profile-about .skill-set{
  border-left: solid 1px black;
  padding:2%;
}

.profile-about .skills{
  font-size:1.5rem;
}

.profile-about .bio{
  display: grid;
  justify-items: center;
  grid-template-rows: fit-content auto;
  row-gap: 1px;
  font-size: 1.5rem;
  padding:2%;
}

.skills li{
  display: inline;
  padding:0.5%;
}

.profile-about .heading{
  color: goldenrod;
  font-size:2rem;
  justify-self: left;
}

/* Posts */
.posts-page{
  display: grid;
  grid-template-rows: fit-content fit-content auto auto; 
}

.posts-page .heading{
  display:grid;
  font-size: 3rem;
  justify-self: center;
  font-family: 'Merriweather' sans-serif;
}

.posts-page p{
  font-size: 1.5rem;
  justify-self: center;
}

.post-form{
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr;
}

.post-form .button-grid{
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.post-form .button-grid input{
  margin: 0.5rem
}

.post-form .button-grid .btn{
  margin: 0.5rem
}

.posts{
  display: grid;
  justify-self: center;
  width: 80%;
  margin-top:1%;
}

.post{
  margin:1% 2%;
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 6fr;
  justify-self: center;
  border-radius: 10px;
  border: solid 3px teal;
}

.post-user{
  display: grid;
  grid-template-rows: fit-content fit-content;
  background-color: teal;
}

.post .item-img{
  height:auto;
  width:100%;
  border-radius: 50%;
}
.post-user .heading{
  font-size: 1rem;
  color:whitesmoke;
  justify-self: center;
  align-self: center;
  font-family: 'Merriweather', sans-serif;
}

.post-data{
  padding: 1%;
  display: grid;
  grid-template-rows: fit-content 10% 30%;
}

.post-img{
  height: auto;
  width: 80%;
}

.post .post-text{
  width: 100%;
  font-size:1.2rem;
  justify-self: left;
  font-family: 'Roboto Slab', serif;
}

.post .post-date{
  color: grey;
  font-size:0.75rem;
  justify-self: right;
}

.user-posts{
  display: grid;
  justify-self: center;
  grid-template-rows: fit-content auto;
}

.user-posts .heading{
  display:grid;
  justify-self: center;
}

.user-posts .posts{
  width:98%;  
}

.single-post{
  display: grid
}

.comments{
  display: grid;
}

.comment-item{
  display:grid;
  grid-template-rows: fit-content, auto, fit-content;
  justify-self: center;
  min-height: fit-content;
  background-color: #f8f8f8;
  margin: 1rem;
  padding: 1rem;
  border: 1px  solid;
  width: 70%;
}

.comment-header{
  display:grid;
  grid-template-columns: 1fr 15fr;
}

.comment-footer{
  display:grid;
  grid-template-columns: 1fr 1fr;
}


.comment-item .btn{
  display: grid;
  justify-self: right;
}

.comment-header h4{
  font-size: 1.3rem;
  justify-self: left;
  align-self: center;
  font-weight: bold;
  font-family: 'Merriweather', sans-serif;
  color: teal;
}

.comment-img{
  height:auto;
  width: 100%;
}

.comment{
  font-size: 1.2rem;
  font-family: 'Roboto Slab', serif;
}

.comment-form{
  display: grid;
  align-self: center;
  width: 90%;
  margin: 5%;
}

.event-form{
  padding:1%;
}

.events{
  display: grid;
  background-color: #f8f8f8;
  margin: 1%;
  margin-top: 2%;
  width: 90%;
  justify-self: center;
  padding:1%;
  grid-template-columns: 1fr 2fr;  
  border: 2px solid teal;
  border-radius: 15px;
}

.events .heading{
  justify-self: left;
}
.event-details{
  display: grid;
  grid-template-rows: fit-content auto fit-content fit-content;
  justify-content: left;
}

.events .desc{
  font-size: 1.2rem;
}

.events .footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.events .event-date{
  text-decoration: underline;
  color: teal;
  font-size:  1rem;
  padding: 1%;
}

.events .event-by{
  color: teal;
  padding:2%;
}

.events img{
  height: auto;
  width: 100%;
}

.events-btn-bar{
  background-color: lightgray;
  width:100%;
  padding:5px;
  max-height: 50%;
}

.single-event{
  display: grid;
}

.single-event .events{
  display: grid;
  background-color: #f8f8f8;
  margin: 1%;
  margin-top: 2%;
  width: 90%;
  justify-self: center;
  padding:1%;
  grid-template-columns: 1fr 1fr;  
  border: 2px solid teal;
  border-radius: 15px;
}

.chat-window{
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  margin-bottom: 0;
}

.user-bar{
  display: grid;
  background: lightseagreen;
}

.userlist{
  margin: 1%;
  margin-top:5%;
}

.singlechatbtn {
  width: 100%;
}

.userlist .singlechat{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 25%;
  width:100%;
  background-color: whitesmoke;
  border: solid;
}

.userlist .singlechat:active{
  background-color: lightseagreen;
}

.userlist .singlechat img{
  height: auto;
  width:85%;
  margin:2%;
}
  
.userlist .singlechat .username{
  font-size: 1rem;
}

.messages{
  display: grid;
  grid-template-rows: 15% 55% 15%;
  height: 100%;
  margin: 2%;
  margin-bottom: 2%; 
}

.messages .userhead{
  font-size: 2rem;
  color:goldenrod;
  padding:0;
}

.message-list{
  display: grid;
  background: whitesmoke;
  overflow: scroll;
}

.new-message{
  display: grid;
  background: whitesmoke;
  width: 95%;
  justify-self: center;
  align-self: center;
  grid-template-columns: 6fr 1fr;
  height: 3rem;
}

.message{
  display:grid;
  grid-template-rows: 20px max-content 10px;
  padding: 5px;
  margin: 10px;
  width: auto;
  height: fit-content;
}

.msg-me{
  display: grid;
  justify-self: right;
  background-color: teal;
}

.msg-you{
  justify-self: left;
  background-color: lightseagreen;
}

.message h1{
  font-size: 1.3rem;
  margin: 0px;
  padding:0px;
  font-family: 'Merriweather', sans-serif;
  color: whitesmoke;
}

.message p{
  font-size: 1rem;
  background-color: whitesmoke;
  font-family: 'Roboto Slab', serif;
  font-weight: bold; 
}

.message span{
  padding:0;
  font-size: 0.8rem;
  color: whitesmoke;
}

.notifs{
  display: grid;
}

.single-notif{
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-self: center;
  width: 90%;
  padding:2%;
  margin:2%;
  border: solid 2px teal;
  border-radius: 25px;
  height: max-content;
}

.single-notif img{
  height: auto;
  width:100%;
  margin: 2%;
  border-radius: 50%;
}

.single-notif .notif-details{
  display: grid;
  margin:1.5%;
}

.single-notif .notif-details p{
  font-size: 1.5rem;
}

.single-notif .notif-details p i{
  font-size: 2.5rem;
  color: goldenrod;
}


/* Dashboard */

.dashboard{
  display: grid;
  grid-template-columns:4fr 1fr;
}


.dashboard .posts{
  display: grid;
  width: 100%;
}


.dashboard .user{
  margin: 15px;
  margin-top: 60px;
  display: grid;
  grid-template-rows: 80px 30px auto 60px 60px;
  max-height: 356px;
  position: sticky;
  height:100vh;
  top: 130px;
}

.dashboard .user .btn{
  width:95%
}


.dashboard .user img{
  height: 256px;
  width: 256px;
  border-radius: 150px;
  border: solid 3px goldenrod;
  border-style: inset;
}

.dashboard .user .user-switch{
  display:grid;
  grid-template-rows: auto 256px;
}


.dashboard .user .heading{
  color: goldenrod;
  font-size: 1.3rem;
  justify-self: center;
}

.dash-link{
  font-size: 1.2rem;
  justify-self: center;
}

.main-form{
  display:grid;
  grid-template-columns: 4fr 1fr;
}

.profile-forms{
  background-color: white;
  margin: 2%;
}

.profile-forms p{
  font-size: 1.3rem;
}

.edit-profile-actions{
  background-color: lightblue;
  margin:2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content max-content;
}

.edit-profile-actions .btn{
  width:80%;
  margin:5%;
}


/* General Stuff */
.page{
  background: url('./img/crce.jpeg');
  min-height: 100%;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
}

.plain-page{
  margin-top: 100px;
  background-color: whitesmoke;
  width:100%;
  min-height:550px;
  background-size: cover;
  display: grid;
}

.pdf{
  display: grid;
  align-self: center;
  justify-self: center;
}

.heading{
  color: goldenrod;
  font-weight: bolder;
  font-family: 'Merriweather' , sans-serif;
}

.item-img{
  height:250px;
  width:250px;
}

/* Buttons */

.btn a{
  color:inherit;
}

.btn-icon{
  width:5%;
  float: right;
}

.btn-dark{
  background-color: teal;
  color: white;
}
.btn-dark:hover{
  background-color: lightseagreen;
}
.btn-dark:focus{
  background-color: teal;
}


.btn-light{
  background-color: lightgray;
  color: teal  ;
}
.btn-light:hover{
  background-color: lightsteelblue;
}
.btn-light:focus{
  background-color: lightgray;
}

.btn-gold{
  background-color: goldenrod;
  color:white;
}
.btn-gold:hover{
  background-color: gold;
}
.btn-gold:focus{
  background-color: goldenrod;
}

.btn-green{
  background-color: green;
  color:white;
}
.btn-green:focus{
  background-color: green;
  color:white;
}
.btn-green:hover{
  background-color: lightgreen;
  color: green;
}


.btn-red{
  background-color: red;
  color:white;
}
.btn-red:focus{
  background-color: red;
  color:white;
}
.btn-red:hover{
  background-color: lightcoral;
  color:red;
}

a{
  text-decoration: none;
}

textarea{
  font-size:1.5rem;
}

.round-img{
  height:256px;
  width:256px;
}

input::placeholder{
  color:teal;
}

input:focus::placeholder{
  color:lightsteelblue;
}

.own-default{
  border-style: groove;
  border-radius: 25px;
  background: transparent;
  color: teal;
}

.tooltip-alert{
  color: red;
  padding:5%;
}

#goToTop{
  display:none;
  transition: 0.5s;
  border-radius:100px;
  left:4.5rem;
  bottom:1.5rem;
  height:3.5rem;
  width:3.5rem;
  position:fixed;
  z-index:100;
  background-color: lightseagreen;
  border-style: outset;
  cursor: pointer;
}