.nav{
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
}


.nav .alerts{
  width:100%;
  height:40px;
  background-color: gold;
  color:black;
  grid-template-columns: 1fr;
  align-items: center;
  font-size:30px;
}

.navbar{
  background-color: teal;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  min-height: 50px;
}

.navbar li{
  display: inline;
  font-size:25px;
  padding: 10px;
}


.navbar-links a{
  color: whitesmoke; 
  text-decoration: none;
  padding: 2px;
}

.navbar-links a:hover{
  color:goldenrod; 
}

.navbar .btn{
  background-color: black;
  color:whitesmoke;
}


.navbar .title{
  color: whitesmoke;
  font-size: 40px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  padding: 50px;
}

.nav-line{
  background-color: goldenrod;
  height:10px;
}

.landing-box{
  display: grid;
  align-self: center;
  justify-self: center;
  background-color: whitesmoke;
  padding: 20px 100px 20px 100px;
  opacity: 0.9;
}

.landing-box .title{
  font-size: 60px;
  font-family: cursive;
  font-weight: bold;
}

.landing-box p{
  font-size: 30px;
  font-family: 'Cochin';
}

.landing-box a{
  font-size: 20px;
}

.form-group{
  padding: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

.plain-page .form .form-group input{
  width: 75%;
  height: 40px;
  border-radius: 25px;
}

.plain-page .form .form-group select{
  width:75%;
  height:40px;
  border-radius: 25px;
}

.plain-page .form .form-group textarea{
  width:75%;
  height:80px;
  border-radius: 5px;
}

.plain-page .form .form-group button{
  width:75%;
  height:40px;
  border-radius: 5px;
}

.plain-page .form .form-group small{
  font-size:90%;
  padding: 10px;
  float: left;
}

.plain-page .heading{
  font-size: 40px;
  justify-self: center;
  color: teal;
  font-weight: bold;
}


/* Auth Components */
.auth{
  display: grid;
  justify-items: right;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
}

.auth-box{
  display: grid;
  background-color: whitesmoke;
  width: 20%;
  padding:20px;
  padding-left:40px;
  padding-right: 40px;
}

.auth .heading{
  font-size: 40px;
}

.auth .lead{
  font-size: 30px;
}

.auth .form .form-group input{
  width: 110%;
  height: 40px;
  border-radius: 25px;
}

.auth .form .form-group select{
  width:100%;
  height:40px;
  border-radius: 25px;
}

/* Profile  */
.all-profiles{
  display: grid;
  grid-template-rows: 80px auto
}
.profiles{
  overflow: scroll;
}

.profile{
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: teal;
  color: whitesmoke;
  border-radius: 10px;
  padding:5px;
  margin:10px;
}

.profile .profile-details h2{
  font-size: 30px;
  font-weight: bold ;
  padding-left:5%;
  font-family: 'Merriweather', sans-serif
}

.profile .profile-details p{
  font-size: 20px;
  padding-left: 5%;
}

.profile .profile-details a{
  font-size: 20px;
  padding-left: 5%;
  color: whitesmoke;
}

.profile .profile-details a:hover{
  color:yellow;
}

.profile .profile-details a:visited{
  color: whitesmoke;
}

.profile .profile-details a:visited:hover{
  color: yellow;
}

.profile-top{
  background-color: teal;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 200px 75px 50px 50px 
}

.profile-top .heading{
  display: grid;
  color:whitesmoke;
}

.profile-top p{
  display: grid;
  color: ivory;
  font-size: 20px;
}

.profile-buttons{
  display: inline;
  
}

.profile-about{
  background-color: white;
  display: grid;
  grid-template-rows: auto 60px 100px;
  row-gap: 5px;
  justify-items: center;
}

.profile-about .heading{
  color: goldenrod;
  font-size:40px;
}

.profile-about .skills{
  font-size:25px;
}

.profile-about .bio{
  display: grid;
  justify-items: center;
  grid-template-rows: 60px auto;
  row-gap: 1px;
  font-size: 30px;
}

.skills li{
  display: inline;
  padding:5px;
}

/* Posts */
.posts-page{
  display: grid;
  grid-template-rows: 80px 25px auto auto; 
}

.posts-page .heading{
  display:grid;
  font-size: 40px;
  justify-self: center;
  font-family: 'Merriweather' sans-serif;
}

.posts-page p{
  font-size: 20px;
  justify-self: center;
}

.post-form{
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr;
}

.posts{
  display: grid;
  justify-self: center;
  width: 80%;
}

.post{
  margin:5px 25px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  border-radius: 10px;
}

.post-user{
  display: grid;
  grid-template-rows: 50px 20px;
  background-color: white;
}

.post-user .heading{
  font-size: 15px;
  color:teal;
  justify-self: center;
  align-self: center;
  font-family: 'Merriweather', sans-serif;
}

.post-data{
  background-color: white;
  padding: 15px;
  display: grid;
  grid-template-rows: auto 25px 50px;
}

.post .post-text{
  font-size:20px;
  justify-self: left;
  font-family: 'Roboto Slab', serif;
}

.post .post-date{
  color: grey;
  font-size:15px;
  justify-self: right;
}

.user-posts{
  display: grid;
  grid-template-rows: 100px auto;
}

.user-posts .heading{
  display:grid;
  justify-self: center;
}

.user-posts .posts{
  width:98%;  
}

/* Dashboard */

.dashboard{
  display: grid;
  grid-template-columns:4fr 1fr;
}

.admindash{
  display: grid;
  grid-template-columns:4fr 1fr;
}

.dashboard .posts{
  display: grid;
  width: 100%;
}

.admindash .posts{
  display: grid;
  width: 100%;
}

.dashboard .user{
  background-color: whitesmoke;
  margin: 15px;
  margin-top: 60px;
  display: grid;
  grid-template-rows: 30px 50px auto;
  max-height: 356px;
}

.admindash .user-admin{
  background-color: whitesmoke;
  margin: 15px;
  margin-top: 60px;
  display: grid;
  grid-template-rows: 30px 50px 30px 256px 50px 50px;
  max-height: 480px;
}

.admindash .user-admin .admin-buttons{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.admin-buttons .btn{
  width:90%;
}

.dashboard .user .user-switch{
  display:grid;
  grid-template-rows: auto 256px;
}

.dashboard .user h1{
  font-size: 20px;
  justify-self: center;
}

.admindash .user-admin h1{
  font-size: 20px;
  justify-self: center;
}

.dashboard .user .heading{
  color: goldenrod;
  font-size: 25px;
}

.dash-link{
  font-size: 20px;
  justify-self: center;
}

.main-form{
  display:grid;
  grid-template-columns: 4fr 1fr;
}

.edit-profile{
  background-color: white;
  margin: 10px;
}

.edit-profile-actions{
  background-color: lightblue;
  margin:10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 60px 60px;
}

.edit-profile-actions .btn{
  width:80%;
}


/* General Stuff */
.page{
  background: url('./img/crce.jpeg');
  min-height: 768px;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
}

.plain-page{
  background-color: lightblue;
  margin-top: 100px;
  width:100%;
  min-height:550px;
  background-size: cover;
  display: grid;
}

.heading{
  font-weight: bolder;
  font-family: 'Merriweather' , sans-serif;
}


/* Buttons */
.btn{
  border-radius: 10px;
  width: 15%;
  height: 40px;
  font-size: 20px;
  margin: 5px;
}

.btn a{
  color:inherit;
}

.btn:hover{
  cursor: pointer;
}

.btn-dark{
  background-color: teal;
  color: white;
}


.btn-light{
  background-color: lightgray;
  color: teal  ;
}

.btn-gold{
  background-color: goldenrod;
  color:white;
}

.btn-green{
  background-color: green;
  color:white;
}

.btn-red{
  background-color: red;
  color:white;
}

a{
  text-decoration: none;
}

textarea{
  font-size: 20px;
}