.dashboard{
    display: grid;
    grid-template-columns:4fr 1fr;
  }
  
  
  .dashboard .posts{
    display: grid;
    width: 100%;
  }
  
  
  .user{
    margin: 15px;
    margin-top: 60px;
    display: grid;
    grid-template-rows: 80px 30px auto 60px 60px;
    max-height: 356px;
    position: sticky;
    height:100vh;
    top: 130px;
  }
  
  .user .btn{
    width:95%
  }
  
  
  .user img{
    height: 256px;
    width: 256px;
    border-radius: 150px;
    border: solid 3px goldenrod;
    border-style: inset;
  }
  
  .user .user-switch{
    display:grid;
    grid-template-rows: auto 256px;
  }
  
  
  .user .heading{
    color: goldenrod;
    font-size: 1.3rem;
    justify-self: center;
  }
  
  .dash-link{
    font-size: 1.2rem;
    justify-self: center;
  }

  @media screen and (max-width:800px){

    .dashboard{
        grid-template-columns: unset;
    }

      .dashboard .user{
        display: none;
      }

      .user{
        margin:1rem;
        margin-bottom: 7rem;
        margin-top: unset;
        display: grid;
        grid-template-rows: 80px 30px auto 60px 60px;
        max-height: 356px;
        position: unset;
        height:100vh;
        top: unset;
      }

      .user .heading{
        margin: 1.5rem;
      }
  }