.post-form{
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr;
  }
  
  .post-form .button-grid{
    display: grid;
    grid-template-columns: 1fr 10fr;
  }
  
  .post-form .button-grid input{
    margin: 0.5rem
  }
  
  .post-form .button-grid .btn{
    margin: 0.5rem
  }

  .post{
    margin:1% 1%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 6fr;
    justify-self: center;
    border-radius: 10px;
    border: solid 2px teal;
  }
  
  .post-user{
    display: grid;
    grid-template-rows: fit-content fit-content;
    background-color: teal;
  }
  
  .post .item-img{
    height:128px;
    width:128px;
    border-radius: 50%;
  }
  .post-user .name{
    font-size: 1.3rem;
    color:whitesmoke;
    justify-self: center;
    align-self: center;
    font-family: 'Merriweather', sans-serif;
    margin: 1%;
    padding: 1%;
    padding-left: 10%;
  }
  
  .post-data{
    padding: 1%;
    display: grid;
    grid-template-rows: fit-content 10% 30%;
  }
  
  .post-img{
    height: auto;
    width: 80%;
  }
  
  .post .post-text{
    width: 100%;
    font-size:1.2rem;
    justify-self: left;
    font-family: 'Roboto Slab', serif;
  }
  
  .post .post-date{
    color: grey;
    font-size:0.75rem;
    justify-self: right;
  }

  @media screen and (max-width:800px){

    .post .item-img{
      height: 64px;
      width: 64px;
    }

    .post-form .form textarea{
        margin: 0.5rem;
    }

    .post-form .heading{
        margin: 0.2rem;
    }

    .post-user{
        display: grid;
        grid-template-rows: 1fr 1fr;
        background-color: teal;
    }

    .post-user .name{
      font-size: 0.9rem;
      margin: 0.1rem;
    }

    .post .post-text{
      font-size: 1rem;
    }
  }